*{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.signheader{
  background-color: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


